In [1]:
import pandas as pd

df=pd.DataFrame({'f':['미오치치','맥그리거','gsp','알도','존존스','은가누','마크헌트','아데산야','정찬성','김동현'],
                 'w':['헤비','라이트','웰터','밴텀','라헤','헤비','헤비','미들','페더','웰터']})
df

      f    w
0  미오치치   헤비
1  맥그리거  라이트
2   gsp   웰터
3    알도   밴텀
4   존존스   라헤
5   은가누   헤비
6  마크헌트   헤비
7  아데산야   미들
8   정찬성   페더
9   김동현   웰터

## 특정값을 만족하는 행 찾기

In [2]:
# 방법1
con=df.w=='헤비'
df.loc[con]

      f   w
0  미오치치  헤비
5   은가누  헤비
6  마크헌트  헤비

In [3]:
# 방법2
con1=(df.w=='헤비')|(df.w=='라헤')
df.loc[con1]

      f   w
0  미오치치  헤비
4   존존스  라헤
5   은가누  헤비
6  마크헌트  헤비

In [4]:
# 방법2
mask=df['w'].isin(['헤비'])
df[mask]

      f   w
0  미오치치  헤비
5   은가누  헤비
6  마크헌트  헤비

## 특정글자를 포함하는 행 찾기

In [5]:
index=df.index[df['w'].str.contains('헤')].tolist()  # '헤'를 포함하는 인덱스 
df1=df.iloc[index] # 위의 인덱스만을 가지는 데이타프레임
df1

      f   w
0  미오치치  헤비
4   존존스  라헤
5   은가누  헤비
6  마크헌트  헤비

In [6]:
key=['헤','라']
t='|'.join(key)  # 
index1=df.index[df['w'].str.contains(t,na=False)].tolist()  # '헤'와 '라'를 포함하는 합집합
df2=df.iloc[index1] # 위의 인덱스만을 가지는 데이타프레임
df2

      f    w
0  미오치치   헤비
1  맥그리거  라이트
4   존존스   라헤
5   은가누   헤비
6  마크헌트   헤비